#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.updateButton{
    margin-right: 10px;
    font-family: cursive;
    font-weight: bold;
}

.deleteButton{
    font-family: cursive;
    font-weight: bold;
}

.inputField{
    border-radius: 15px;
    font-family: cursive;
    padding: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.showUsers {
    width: 540px;
    margin-top: 13px;
    padding: 10px;
    font-weight: bold;
    margin-left: 10px;
    font-family: cursive;
    transition: 0.5s;
}

.downloadJSON{
    margin-top: 13px;
    padding: 10px;
    font-weight: bold;
    margin-left: 10px;
    font-family: cursive;
}

.inputSetUser{
    margin-bottom: 10px;
}

.activeUsers{
    margin-top: 10px;
}

.createUser{
    margin-left: 10px;
    font-family: cursive;
    font-weight: bold;
}

.selectValue {
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputAbsField {
    margin-bottom: 10px;
}

.addAbsenceButton{
    margin-right: 10px;
    font-family: cursive;
    font-weight: bold;
}

.showAbsencesButton {
    margin-right: 10px;
    font-family: cursive;
    font-weight: bold;
}

.removeAbsenceButton{
    margin-top: 10px;
    margin-bottom: 20px;
}

.userActivityCharrt{
    margin-left: 10px;
    font-family: cursive;
    font-weight: bold;
}

.sortButtons{
    cursor: pointer;
}

.filterFields{
    width: 240px;
    margin-top: 20px;
    margin-left: 40px;
}

.clearFields {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 40px;
    font-family: cursive;
    font-weight: bold;
}